<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pizza form:</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>
	<h1 class="text-center">Pizzas:</h1>
	<div class="container">
		<div class="row g-0">
			<div class="col-12 col-md-4 col-md-3" style="width: 18rem;">
				<form
					th:object="${pizza}"
					method="POST"
				>
				  <div class="mb-3">
				    <label for="nome" class="form-label">Nome</label>
				    <input type="text" class="form-control" id="nome" th:field="*{nome}">
				    <div id="nome" class="form-text" th:replace="frags::errorDiv('nome')"></div>
				  </div>
				  <div class="mb-3">
				    <label for="descrizione" class="form-label">Descrizione</label>
				    <input type="text" class="form-control" id="descrizione" th:field="*{descrizione}">
				    <div id="descrizione" class="form-text" th:replace="frags::errorDiv('descrizione')"></div>
				  </div>
				  <div class="mb-3">
				    <label for="foto" class="form-label">Foto</label>
				    <input type="text" class="form-control" id="foto" th:field="*{foto}">
				    <div id="foto" class="form-text" th:replace="frags::errorDiv('foto')"></div>
				  </div>
				  <div class="mb-3">
				    <label for="prezzo" class="form-label">Prezzo</label>
				    <input type="number" class="form-control" id="prezzo" th:field="*{prezzo}">
				    <div id="prezzo" class="form-text" th:replace="frags::errorDiv('prezzo')"></div>
				  </div>
				  <button type="submit" class="btn btn-primary" value="STORE">Crea pizza</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>