<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Best Pizzas</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-secondary-subtle">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<h1 class="text-center">Pizzas:</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form>
				  <div class="mb-3">
				    <input type="text" class="form-control" id="search" name="p" th:value="${p}">
				  </div>
				  <button type="submit" class="btn btn-primary" value="SEARCH">Cerca pizza</button>
				</form>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-12">
				<a href="/pizzas/create">
					<button class="btn btn-success">
						Crea Nuova Pizza
					</button>									
				</a>					
			</div>
		</div>
		<div class="row g-0">
			<div 	
				th:each="pizza : ${pizzas}"
				th:object="${pizza}"
				class="card m-3 d-flex col-12 col-md-4 col-md-3" style="width: 18rem;">
			  <img th:src="*{foto}" class="card-img-top" alt="..." style="height: 14rem; max-width: 18rem;">
			  <div class="card-body text-center">
				  <a
						th:href="@{/pizzas/{id}(id=*{id})}"
					>
				    	<h5 class="card-title">[[*{nome}]]</h5>								
					</a>
			    <p class="card-text">[[*{descrizione}]]</p>
			  </div>
			  <p class="text-center">[[*{prezzo}]]€</p>
			</div>
		</div>
	</div>
</body>
</html>